<?xml version="1.0" encoding="UTF-8"?>
<classpath>
	<classpathentry kind="src" path="src"/>
	<classpathentry kind="src" path="res"/>
	<classpathentry kind="src" path="lwjgl-src-2.8.3/src/generated"/>
	<classpathentry kind="src" path="lwjgl-src-2.8.3/src/java"/>
	<classpathentry kind="src" path="test"/>
	<classpathentry kind="con" path="org.eclipse.jdt.launching.JRE_CONTAINER"/>
	<classpathentry kind="lib" path="lib/slick-util.jar"/>
	<classpathentry kind="lib" path="lwjgl-src-2.8.3/jar/jinput.jar"/>
	<classpathentry kind="lib" path="lwjgl-src-2.8.3/jar/AppleJavaExtensions.jar"/>
	<classpathentry kind="lib" path="lwjgl-src-2.8.3/jar/asm-debug-all.jar"/>
	<classpathentry kind="con" path="org.eclipse.jdt.junit.JUNIT_CONTAINER/4"/>
	<classpathentry kind="output" path="bin"/>
</classpath>
