<?xml version="1.0" encoding="UTF-8"?>
<projectDescription>
	<name>mycraft</name>
	<comment></comment>
	<projects>
	</projects>
	<buildSpec>
		<buildCommand>
			<name>org.eclipse.jdt.core.javabuilder</name>
			<arguments>
			</arguments>
		</buildCommand>
	</buildSpec>
	<natures>
		<nature>org.eclipse.jdt.core.javanature</nature>
	</natures>
	<linkedResources>
		<link>
			<name>lwjgl-src-gen</name>
			<type>2</type>
			<locationURI>WORKSPACE_LOC/lwjgl-source-2.6/src/generated</locationURI>
		</link>
		<link>
			<name>lwjgl-src-java</name>
			<type>2</type>
			<locationURI>WORKSPACE_LOC/lwjgl-source-2.6/src/java</locationURI>
		</link>
		<link>
			<name>lwjgl-src-tmp</name>
			<type>2</type>
			<locationURI>WORKSPACE_LOC/lwjgl-source-2.6/src/templates</locationURI>
		</link>
	</linkedResources>
</projectDescription>
